:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --text-color: rgb(9, 9, 9);

  height: 100%;

  color-scheme: light dark;
  background-color: rgb(255, 255, 255);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.hljs {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  color: red;
  background-color: black;
  border: black 2px solid;
  border-radius: 5px;
  padding: 10px;
  line-height: 1.5;
}

header {
  background-color: #5b5b5b;
  padding: 6px 12px;
  display: flex;
  flex-direction: row-reverse;
}

header a {
  text-decoration: none;
  background-color: #817c7c;
  padding: 5px;
  margin-left: 10px;
  min-width: 70px;
  width: fit-content;
  text-align: center;
  color: #fff;
  border-radius: 5px;
}

.header-pattern {
  background-color: #4e2c18;
  background-image: url('public/pattern-rect-dash-lined.svg');
  background-size: 200vh 200vh;
  /*background-repeat: repeat;*/
  /*background-size: 10px;*/
  height: 20px;
  border-bottom: #4e2c18 4px solid;
  /*margin: 0 0 15px 0;*/
}

p {
  color: var(--text-color);
}

p code {
  all: unset;
}

h1 code {
  all: unset;
}

pre code[class*="language-"] {
  background-color: #444444;
  color: white;
  text-shadow: none;
}

body {
  margin: 0;
  height: 100%;
}

main {
  display: flex;
  justify-content: left;
  flex: 1;
}

button {
  all: unset;
  cursor: pointer;
}

h1 {
  color: var(--text-color);
}

h2 {
  color: var(--text-color);
}

/*code[class*="language-"] {*/
/*  background-color: rgb(1, 11, 19);*/
/*  color: white;*/
/*  text-shadow: none;*/
/*}*/

/*code[class*="language-"]::selection {*/
/*  background-color: white;*/
/*}*/

/*button {*/
/*  border-radius: 8px;*/
/*  border: 1px solid transparent;*/
/*  padding: 0.6em 1.2em;*/
/*  font-size: 1em;*/
/*  font-weight: 500;*/
/*  font-family: inherit;*/
/*  background-color: #1a1a1a;*/
/*  cursor: pointer;*/
/*  transition: border-color 0.25s;*/
/*}*/
/*button:hover {*/
/*  border-color: #646cff;*/
/*}*/
/*button:focus,*/
/*button:focus-visible {*/
/*  outline: 4px auto -webkit-focus-ring-color;*/
/*}*/

/*@media (prefers-color-scheme: light) {*/
/*  :root {*/
/*    color: #213547;*/
/*    background-color: #ffffff;*/
/*  }*/
/*  a:hover {*/
/*    color: #747bff;*/
/*  }*/
/*  button {*/
/*    background-color: #f9f9f9;*/
/*  }*/
/*}*/
